.teams-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .team-card {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .team-logo img {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    border-radius: 8px;
    object-fit: contain;
  }
  
  .team-info {
    flex-grow: 1;
    .blackButton{
      background: red;
      border: none;
      color: white;
      margin-right: 3rem;
      border-radius: 1rem;
      height: fit-content;
      padding: 0.5rem;
    }
    .blackButton:hover{
      background: white;
      border: none;
      color: black;
      margin-right: 3rem;
      border-radius:1rem;
      height: fit-content;
      padding: 0.5rem;
    }
  }
  
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    color: #007bff;
  }
  
  p {
    margin: 4px 0;
    color: #555;
  }
  
  /* Estilo para el fondo del modal */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  /* Estilo para el fondo del modal */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: auto; /* Permite que el modal haga scroll si es necesario */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
    max-height: 80vh; /* Limita la altura del modal */
    overflow-y: auto; /* Agrega scroll vertical cuando el contenido excede la altura */
    .modal-text{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    }
  }
  
  /* Botón para cerrar el modal */
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    z-index: 1001; /* Asegura que la "X" siempre esté sobre el contenido */
  }
  
  .close:hover {
    color: red;
  }
  
  h3 {
    margin-top: 0;
    background-color: rgb(82, 82, 92);
    color: white;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
  }
  
  
  
    